.container {
  width: 100%;
  background-color: #eae4da; /* Bege claro */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 8vw;
  padding-block: 5rem;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  width: 100%;

  h3 {
    color: #2c2c2c; /* Quase preto */
    font-size: 2.5rem;
    width: 70%;
  }
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  border-top: 1px solid #6e5c4f; /* Marrom neutro */
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;

  img {
    width: 40px;
  }

  .leftside,
  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;
  }

  .leftside {
    display: flex;
    align-items: flex-start;
    gap: 3rem;

    h3 {
      color: #2c2c2c;
      font-size: 2rem;
    }

    p {
      color: #5c5c5c; /* Cinza médio */
      font-size: 1.5rem;
    }
  }

  .rowTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .rightside {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    p {
      color: #5c5c5c;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-inline: 4vw;
    padding-block: 3rem;
  }

  .title h3 {
    font-size: 30px;
    width: 100%;
  }

  .row {
    border-top: 1px solid #6e5c4f;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;

    img {
      width: 20px;
    }

    .leftside,
    .rightside {
      width: 100%;
    }

    .leftside {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      h3 {
        color: #2c2c2c;
        font-size: 20px;
      }

      p {
        color: #5c5c5c;
        font-size: 1.5rem;
      }
    }

    .rowTitle {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .rightside {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      p {
        color: #5c5c5c;
        font-size: 20px;
      }
    }
  }
}
