.container {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
  @media (max-width: 768px) {
    position: fixed;
    &.scrolled {
      background-color: #4a3f35; /* marrom amadeirado */
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-inline: 8vw;
  align-items: center;
  width: 100%;
  @media (max-width: 768px) {
    padding-block: 15px;
  }
}
.centerNav {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;

  p {
    color: #f5f5f5;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
  }
}
.leftside {
  flex: 1;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    filter: brightness(0.1) invert(1);
  }

  p {
    color: #f5f5f5;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
  }
}

.rightside {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 24px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;

    .icon {
      color: #f5f5f5;
      width: 30px;
      transition: transform 0.3s ease;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid #fff;
      color: #f5f5f5;
      transform: scale(1.05);

      .icon {
        transform: rotate(20deg);
      }
    }
  }
}

.languageSwitcher {
  position: relative;
  display: inline-block;

  .selectedLanguage {
    display: flex;
    align-items: center;
    cursor: pointer;

    .flag {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .arrow {
      font-size: 14px;
      color: #f5f5f5;
      margin-left: 5px;
    }
  }

  .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f1ec;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;

    .flag {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 5px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 768px) {
  .leftside p {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    cursor: pointer;
    z-index: 20;

    .line {
      width: 30px;
      height: 3px;
      background-color: #f5f5f5;
      margin: 5px;
      transition: all 0.3s ease;
    }
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #4a3f35;
    justify-content: center;
    align-items: flex-end;
    padding-right: 35%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    z-index: 15;

    &.open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }

    &.closing {
      transform: translateX(100%);
      opacity: 0;
    }

    p {
      color: #f5f5f5;
      font-size: 24px;
      margin: 15px 0;
    }
  }

  .rightside {
    display: none;
  }

  .languageSwitcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .selectedLanguage {
      .flag {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .arrow {
        font-size: 14px;
      }
    }

    .dropdown {
      position: absolute;
      top: 60px;
      background-color: #f4f1ec;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 10px;

      .flag {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .hamburgerMenu {
    display: none;
  }

  .navMenu {
    display: none;
  }

  .rightside {
    display: flex;
  }
}
